<div class="candidate-header-main">
    <div class="candidate-search-root">
        <div class="search-input-root" >
            <!-- <mat-icon class="search-icon">search</mat-icon> -->
            <img src="../../../assets/icons/search.svg" />
            <input placeholder="Search by name or location" class="search-input" />
        </div>
    </div>
    <div class="candidate-details-root">
        <div class="candidate-img">
            <img src="../../../assets/icons/user.svg" />
        </div>
        <div class="candidate-details-div">
            <div class="candidate__details">
                <span class="candidate-name">Greg Kockott</span>
                <span class="candidate-details">Account Owner . HelloCrowd, Inc</span>
            </div>
            <div class="candidate-arrow">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
        </div>
    </div>
</div>