<div class="candidate-main">
    <div class="candidate-header mb-4">
        <div class="candidate-heading">Candidates</div>
        <div class="candidate-operation">
            <div> 
                <button mat-flat-button class="delete-candidate-btn" [disabled]="selection.hasValue()" (click)="deleteAllCandidates()">Delete</button>
            </div>
            <div>
                <button mat-flat-button class="new-candidate-btn" (click)="openDialog()">New Candidate <img src="../../../../assets/icons/icon-phone.svg" /></button>
            </div>
        </div>
    </div>
    <div class="col-12 candidate-table-root">
        <!-- <table mat-table [dataSource]="dataSource" class="col-12 candidate-table" matSort> -->
            <table mat-table 
                [dataSource]="allCandidateData" class="col-12 candidate-table" matSort>
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                     <div *ngIf="!allCandidateData" style="width: 20px;
                    height: 20px;
                    /* padding: 1px; */
                    border-radius: 4px;
                    background-color: #eef2f6;"></div> 
                </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
                <td mat-cell *matCellDef="let element"> 
                    <!-- {{element.name}}  -->
                    {{element.firstName}}
                     <div *ngIf="!allCandidateData" style="width: 147px;
                    height: 16px;
                    border-radius: 4px;
                    background-color: #eef2f6;"></div>  
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="idNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID NUMBER </th>
                <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header></th> -->
                <td mat-cell *matCellDef="let element"> 
                    <!-- {{element.idNumber}}  -->
                    {{element._id}}
                    <div *ngIf="!allCandidateData" style="width: 137px; 
                    height: 16px;
                    border-radius: 4px;
                    background-color: #eef2f6;"></div>  
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LOCATION </th>
                <td mat-cell *matCellDef="let element"> 
                     <img *ngIf="element?.address?.country" style="width: 25px;"
                      src="{{ getFlag(element?.address?.country) }}" /> 
                    <!-- {{element.country}}  -->
                    {{element?.address?.country}}
                <div *ngIf="!allCandidateData" style="
                    width: 20px;
                    height: 20px;
                    border-radius: 34px;
                    border: solid 1px #eef2f6;
                    background-color: #eef2f6;"></div>
                    <div *ngIf="!allCandidateData" style="width: 147px;
                    height: 16px;
                    border-radius: 4px;
                    background-color: #eef2f6;"></div> 
                   <!-- </div>  -->
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="emailAddress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL ADDRESS </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.email}} 
                <div *ngIf="!allCandidateData" style=" width: 180px;
                    height: 16px;
                    border-radius: 4px;
                    background-color: #eef2f6;"></div> 
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="mobileNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MOBILE NUMBER </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.mobileNumber}} 
                     <div *ngIf="!allCandidateData" style="width: 112px;
                    height: 16px;
                    border-radius: 4px;
                    background-color: #eef2f6;"></div> 
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="daysActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DAYS ACTIVE </th>
                <td mat-cell *matCellDef="let element" class="daysActive"> 
                    {{element.isActive | daysAgo}} 
                     <div *ngIf="!allCandidateData" style="width: 66px; 
                    height: 16px;
                    border-radius: 4px;
                    background-color: #eef2f6;"></div>  
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialog(element)">
                            <span>View Candidate</span>
                        </button>
                        <button mat-menu-item (click)="deleteCandidate(element)">
                            <span>Delete Candidate</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="table-mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons
            aria-label="Select page of periodic elements" (page)="onChangePage($event)"></mat-paginator> -->
    </div>
</div>