@import "../../../../styles.scss";

.candidate-main {
  @include flexOp(flex, column, false, null, false, null);
  @include padding(2rem, 3rem, 0, 3rem);
  height: 100%;

  .candidate-header {
    @include flexOp(flex, row, false, null, false, null);

    .candidate-heading {
      @include fontOp(xx-large, black, 800, $mainHeadingFont);
      @include widthOp(50%);
    }

    .candidate-operation {
      @include widthOp(50%);
      @include flexOp(flex, row, true, flex-end, true, center);

      .delete-candidate-btn {
        width: 68px;
        height: 40px;
        border-radius: 4px;
        background-color: $navSelectedColor;
      }

      .new-candidate-btn {
        background-color: $primaryBlue;
        color: $primaryWhite;
        margin-left: 1rem;
        img {
          width: 22px;
          height: 22px;
          object-fit: contain;
        }

      }
    }
  }

  .candidate-table-root {
    height: 90%;

    .candidate-table {
      border: solid $border 1px;
      table-layout: fixed;

      td.mat-cell {
        img {
          margin-right: 10px;
          width: 25px;
        }
      }
      .check_load{
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background-color: $navSelectedColor;
      }
      .name-loader{
        width: 147px;
        height: 16px;
        border-radius: 4px;
        background-color: $navSelectedColor;
      }
      .id-loader{
        width: 137px;
        height: 16px;
        border-radius: 4px;
        background-color: $navSelectedColor;
      }
      .location-check-load{
        width: 20px;
        height: 20px;
        border-radius: 34px;
        border: solid 1px $navSelectedColor;
        background-color: $navSelectedColor;
      }
      .location-input{
        width: 147px;
        height: 16px;
        border-radius: 4px;
        background-color: $navSelectedColor;
      }
      .email-loader{
        width: 180px;
        height: 16px;
        border-radius: 4px;
        background-color: $navSelectedColor;

      }
      .mobile-loader{
        width: 112px;
        height: 16px;
        border-radius: 4px;
        background-color: $navSelectedColor;
      }
      .days-loader{
        width: 66px;
        height: 16px;
        border-radius: 4px;
        background-color: $navSelectedColor;
      }
      th.mat-header-cell:first-of-type,
      td.mat-cell:first-of-type,
      td.mat-footer-cell:first-of-type {

        width: 35px;
      }

      th.mat-header-cell:last-of-type,
      td.mat-cell:last-of-type,
      td.mat-footer-cell:last-of-type {
        padding: 0;
        padding-left: 0 !important;
        padding-right: 2px !important;
        width: 57px !important;
      }
      .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background {
        background-color: $primaryBlue;
    }

      th.mat-header-cell,
      td.mat-cell,
      td.mat-footer-cell {
        padding-left: 18px;
        word-break: break-word;
      }

      .location-load {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .daysActive {
        color: $daysGreen;
      }

      .table-mat-row {
        height: 55px;
      }
    }
  }
}