<div class="candidate-main">
    <div class="candidate-header mb-4">
        <div class="candidate-heading">Candidates</div>
        <div class="candidate-operation">
            <div>
                <button mat-flat-button class="delete-candidate-btn">Delete</button>
            </div>
            <div>
                <button mat-flat-button class="new-candidate-btn" (click)="openDialog()">New Candidate <img src="../../../../assets/icons/icon-phone.svg" /></button>
            </div>
        </div>
    </div>
    <div class="col-12 candidate-table-root">
        <table mat-table [dataSource]="dataSource" class="col-12 candidate-table" matSort>
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                    <!-- <div class="check_load"></div> -->
                </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.name}} 
                    <!-- <div class="name-loader"></div> -->
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="idNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID NUMBER </th>
                <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header></th> -->
                <td mat-cell *matCellDef="let element"> 
                    {{element.idNumber}} 
                    <!-- <div class="id-loader"></div> -->
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LOCATION </th>
                <td mat-cell *matCellDef="let element"> 
                    <img class="flag-img" src={{element.flag}} />
                    {{element.country}} 
                   <!-- <div class="location-load">
                    <div class="location-check-load"></div>
                    <div class="location-input"></div>
                   </div> -->
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="emailAddress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL ADDRESS </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.emailAddress}} 
                    <!-- <div class="email-loader"></div> -->
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="mobileNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MOBILE NUMBER </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.mobileNumber}} 
                    <!-- <div class="mobile-loader"></div> -->
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="daysActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DAYS ACTIVE </th>
                <td mat-cell *matCellDef="let element" class="daysActive"> 
                    {{element.daysActive}} 
                    <!-- <div class="days-loader"></div> -->
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <span>View Candidate</span>
                        </button>
                        <button mat-menu-item>
                            <span>Delete Candidate</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="table-mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements"></mat-paginator>
    </div>
</div>