<div style="display: flex; height: 99vh;">
    <div style="width: 100%; height: calc(100vh - 71px); position: fixed; bottom: 0; display: flex;">
        <div style="width: 74px; height: 100%; background-color: rgb(244, 244, 244); border-right: solid lightgray 1px; padding-top: 2rem;">
            <app-sidebar></app-sidebar>
        </div>
        <div style="width: 100%;">
            <app-candidate-root></app-candidate-root>
        </div>
    </div>
    <div style="display: flex; width: 100%; height: 71px;">
        <div style="width: 74px; display: flex; align-items: center; justify-content: center; background-color: rgb(244, 244, 244); border-right: solid lightgray 1px; border-bottom: solid lightgray 1px;">
            <app-logo></app-logo>
        </div>
        <div style="background-color: rgb(244, 244, 244); width: 100%; border-bottom: solid lightgray 1px;">
            <app-header></app-header>
        </div>
    </div>
</div>