@import "../../../styles.scss";

.sidebar-ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 14px 15px 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
     &.active{
        padding: 8px; border: 1px $navSelectedColor; border-radius: 8px; background-color: $navSelectedColor;
        img {
            filter: invert(37%) sepia(38%) saturate(2616%) hue-rotate(169deg) brightness(88%) contrast(93%);
        }
    }
        img{
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }
}
.settings {
    list-style-type: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
        text-align: center;
        width: 40px;
        height: 40px;
        margin: 14px 15px 20px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
         &.active{
            padding: 8px; border: 1px $navSelectedColor; border-radius: 8px; background-color: $navSelectedColor;
             img {
                filter: invert(37%) sepia(38%) saturate(2616%) hue-rotate(169deg) brightness(88%) contrast(93%);
            }
        }
            img{
                width: 24px;
                height: 24px;
                object-fit: contain;
            }
        }
}