<div>
    <ul class="sidebar-ul">
        <li>
            <img src="../../../assets/icons/home.svg" />
        </li>
        <li>
            <img style="padding: 8px; border: 1px #bcb7b7; border-radius: 8px; background-color: #e9e9e9;" src="../../../assets/icons/job-seeker.svg" />
        </li>
        <li>
            <img src="../../../assets/icons/workflow.svg" />
        </li>
        <li>
            <img src="../../../assets/icons/inspection.svg" />
        </li>
        <li>
            <img src="../../../assets/icons/tear-off-calendar.svg" />
        </li>
        <li>
            <img src="../../../assets/icons/chart.svg" />
        </li>
        <li>
            <img src="../../../assets/icons/privacy-policy.svg" />
        </li>
        <li>
            <img src="../../../assets/icons/communication.svg" />
        </li>
    </ul>
</div>