<div class="sidebar-main">
    <ul class="sidebar-ul">
        <li>
            <img src="../../../assets/icons/home.svg" />
        </li>
        <li class="active">
            <img src="../../../assets/icons/job-seeker.svg" />
        </li>
        <li>
            <img src="../../../assets/icons/workflow.svg" />
        </li>
        <li>
            <img src="../../../assets/icons/inspection.svg" />
        </li>
        <li>
            <img src="../../../assets/icons/tear-off-calendar.svg" />
        </li>
        <li>
            <img src="../../../assets/icons/chart.svg" />
        </li>
        <li>
            <img src="../../../assets/icons/privacy-policy.svg" />
        </li>
        <li>
            <img src="../../../assets/icons/communication.svg" />
        </li>
        
    </ul>
    <ul class="settings">
        <li>
            <img src="../../../assets/icons/settings.svg" />
        </li>
    </ul>
</div>