@font-face {
    font-family: 'SFProDisplay-Bold';
    src: url('./assets/fonts/SFProDisplay-Bold.ttf');
}

@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('./assets/fonts/SFProDisplay-Regular.ttf');
}

@font-face {
    font-family: 'SFProDisplay-Semibold';
    src: url('./assets/fonts/SFProDisplay-Semibold.ttf');
}

$primaryBlue: #3fa6d9;
$primaryWhite: #ffffff;
$daysGreen: #3ebf62;
$secondaryGray: #f3f5f8;
$border: #e9edf1;
$navSelectedColor: #eef2f6;
$nameDescriptionColor: #666666;
$userBackgroundColor: #d9edf7;
$invalid: #ea4e2c;
$mainHeadingFont: "SFProDisplay-Bold";
$regularFont: "SFProDisplay-Regular";
$labelFont: "SFProDisplay-Semibold";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input:focus {
    outline: none;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.mat-dialog-container {
    padding: 0px !important;
}

.iti {
	display: block !important;
}

.iti .iti__country-list {
	box-shadow: none;
	font-size: 14px;
	margin-left: 0;
	width: 300px;
	max-height: 170px;
}

.iti__flag-container.open + input {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.iti .search-container input {
	font-size: 14px;
	border-color: #c7cace;
	border-radius: 0;
	padding: 5px 10px;
}

.iti .search-container input:focus {
	outline: none;
}

// ngx-intl-tel-input input {
// 	height: 44px;
// 	margin-bottom: 20px;
// 	padding: 10px;
// 	border-style: solid;
// 	border-width: 1px;
// 	border-color: #c7cace;
// 	border-radius: 4px;
// 	font-size: 18px;
// }

ngx-intl-tel-input.ng-invalid.ng-touched input {
	border: 1px solid #c0392b;
}

// ngx-intl-tel-input input:hover {
// 	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
// }

ngx-intl-tel-input input:focus {
	outline: none !important;
	border-color: #3498db;
	box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
	background-color: #e5eaf1;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
    background-color: $secondaryGray;
    justify-content: flex-start;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}


table {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-collapse: separate;
}

@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin fontOp($fontSize, $fontColor, $fontWeight, $fontFamily) {
    font-size: $fontSize;
    color: $fontColor;
    font-weight: $fontWeight;
    font-family: $fontFamily;
}

@mixin widthOp($width) {
    width: $width;
}

@mixin flexOp($display, $flexDirection, $justifyContentFlag: false, $justifyContent, $alignItemsFlag: false, $alignItem) {
    display: $display;
    flex-direction: $flexDirection;
    @if justifyContentFlag {
        justify-content: $justifyContent;
    }
    @if $alignItemsFlag {
        align-items: $alignItem;
    }
}

::ng-deep.mat-table {
    background-color: transparent;
    .mat-sort-header-content {
        @include fontOp(12px, black, 800, $mainHeadingFont);
    }
    .mat-cell {
        @include fontOp(14px, black, 200, $regularFont);
    }
}